* {
  box-sizing: border-box;
}

 /* used to fit all body elements on screen */
html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* Overlay Screen CSS */

#overlay {
  display: block;
}

#image-container {
  display: flex;
  justify-content: space-between;
}

#image-container div {
  height: 300px;
  width: 33%;
  background-position: center;
  background-repeat: no-repeat;
}

#croatia-flag {
  background-image: url('../images/croatia-flag.jpeg');
  background-size: cover;
}

#world-cup-trophy {
  background-image: url('../images/world-cup-trophy.jpeg');
  background-size: contain;
}

#england-flag {
  background-image: url('../images/england-flag.jpeg');
  background-size: cover;
}

h2 {
  text-align: center;
  font-family: fantasy, helvetica, sans-serif;
  font-size: 60px;
  margin: auto;
  padding: 50px 0 0 0;
}

.buttons {
  padding: 10px 30px;
  border: solid 3px black;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

#buttons-level-div {
  display: flex;
  justify-content: space-evenly;
}

#amateur {
  background-color: lightpink;
}

#amateur:hover {
  background-color: salmon;
}

#professional {
  background-color: orange;
}

#professional:hover {
  background-color: darkorange;
}

#world-class {
  background-color: darkorange;
}

#world-class:hover {
  background-color: red;
}

#start-button-div {
display: flex;
justify-content: center;
padding: 40px 0;
}

#start-button {
  background-color: lightgreen;
  position: relative;
  left: -8px;
}

#start-button:hover {
  background-color: green;
}


/* Main screen CSS */

#main-game {
  display: none;
}

main {
height: 100vh;
margin: 0;
}

#timer-info-div {
  display: flex;
  justify-content: left;
  font-family: fantasy;
  margin-left: 5%;
  }

#game-header-div {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

#game-info-div {
  display: flex;
  color: white;
  font-family: fantasy;
}

.game-info {
  padding: 1px 2px;
  font-size: 20px;
}

#croatia, #england {
  background-color: dodgerblue;
}

#croatia-score, #england-score {
  background-color: blue;
}

#end-button-div{
  display: flex;
  justify-content: right;
  padding: 15px;
}

#end {
  background-color: lightcoral;
}

#end:hover {
  background-color: coral;
}

.grid-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  background-image: url(../images/Soccer_Field_Transparant.svg.png);
  background-size: cover;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 90%;
  background-color: green;
  border-radius: 20px;
}

#grid div {
  flex-grow: 1;
  height: 11.11%;
  width: 8.33%;
}

#grid div.kovacic {
  background-image: url('../images/Mateo\ Kovacic\ -\ FootyRenders.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.english-players {
  background-image: url('../images/harry-maguire-england-national-football-team-paris-saint-germain-f-c-leicester-city-f-c-harry-kane-england-4274fbcc7dbc186f79d2ff3d058b7b95.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.goalkeeper {
  background-image: url('../images/toppng.com-jordan-pickford-390x487.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.goal-left {
  background-image: url(../images/goal-left.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#grid div.goal-right {
  background-image: url(../images/goal-right.png);
  background-repeat: no-repeat;
  background-size: cover;
}






/* ------------------------------ */
/* div {
  background-color: greenyellow;
  border: 1px solid black;
  width: 8%;
  height: 80px;
  margin-bottom: 3px;
} */

/* .english-defender {
  background-image: url('../images/english-footballer.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */

/*  */