* {
  box-sizing: border-box;
}

#image-container {
  display: flex;
}

img {
  float: left;
  width: 33.33%;
  padding: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
height: 100vh;
margin: 0;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  background-image: url(../images/Soccer_Field_Transparant.svg.png);
  background-size: cover;
  align-items: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 600px;
  background-color: green;
}

#grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 11.11%;
  width: 8.33%;
}

#grid div.kovacic {
  background-image: url('../images/favpng_mateo-kovačić-croatia-national-football-team-football-player-real-madrid-c-f-jersey.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.english-players {
  background-image: url('../images/imgbin_england-national-football-team-football-player-team-sport-tournament-png.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.goal-left {
  background-image: url(../images/goal-left.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#grid div.goal-right {
  background-image: url(../images/goal-right.png);
  background-repeat: no-repeat;
  background-size: contain;
}



/* div {
  background-color: greenyellow;
  border: 1px solid black;
  width: 8%;
  height: 80px;
  margin-bottom: 3px;
} */

/* .english-defender {
  background-image: url('../images/english-footballer.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */

/*  */